.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  #input, #button {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

  #output{
    display: block;
    font-size: large;
    position: relative;
    margin: 50px;

  }